.accountLoaderSection {
  composes: grid from global;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
  flex-wrap: wrap;
}

.accountLoader {
  height: 107px;
  border-radius: var(--border-rad);
}
