vendor/
assets/
languages/*
node_modules
dist
yarn-error.log
coverage/*
src/coverage/*
storybook-static/*
node_modules/
locale.pot
.php-cs-fixer.cache
tests.config.php
.phpunit.result.cache
eslint-cache/
composer.lock
yarn-error.log
frontend-strings.pot
.env
build