@layer tailwind {
  /* stylelint-disable-next-line scss/at-rule-no-unknown */
  @tailwind components;
  /* stylelint-disable-next-line scss/at-rule-no-unknown */
  @tailwind utilities;
}

html,
body {
  height: 100%;
}

#bit-apps-root * {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  text-shadow: rgba(0, 0, 0, 1%) 0 0 1px;
}

#bit-apps-root {
  direction: ltr;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  font-size: 16px;
  overflow: auto;
  isolation: isolate;
}

a:focus {
  box-shadow: initial;
}

::-webkit-scrollbar-thumb {
  border-radius: 100vw;
  background-color: #a9a9a9b8;
}

::-webkit-scrollbar {
  width: 0.4em;
  padding: 20px;
}

svg {
  pointer-events: none;
  display: inline-block;
}

@keyframes dashanim {
  0% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: -150px;
  }
}

/* stylelint-disable-next-line selector-class-pattern */
.tippy-content {
  padding: 4px 5px !important;
}

.dropDownTippy {
  background-color: var(--bg) !important;
  border: 1px solid var(--bg-10) !important;
}

.ReactQueryDevtoolsPanel {
  width: calc(100% - 160px) !important;
  left: 160px !important;
}

.sticky-tab > .ant-tabs-nav {
  position: sticky !important;
  top: 0 !important;
  z-index: 2 !important;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
